.categoryName{
    position: relative;
    width: 303px;
    height: 45px;
    left: -15px;
    top: 14%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 23px;
    text-align: center;

    color: #C20606;
}

.category-header{
    display: flex;
    justify-content: space-between;
}