.listingBox2{
    position: absolute;
    width: 375px;
    height: 237px;
    left: 2.5%;
    top: 45%;

    background: #FFFEFE;
    opacity: 0.3;
    box-shadow: 2px 4px 20px 5px rgba(69, 63, 63, 0.25);
    border-radius: 30px;
}
