.sell{
    position: relative;
    display: flex;
    width: 325px;
    height: 65px;
    /* right: 5%;
    top: 3.5%; */
    background: #C20606;
    border-radius: 30px;
    justify-content: center;
}

.MyAccount{
    position: relative;
    display: flex;
    width: 210px;
    height: 65px;
    /* right: 25%;
    top: 3.5%; */
    background: #C20606;
    border-radius: 30px;
    justify-content: center;
}

.filter{
    position: relative;
    text-align: center;
    width: 150px;
    height: 35px;
    left: 4%;
    top: 6.5%;
    background: #C20606;
    border-radius: 30px;
}

.header{
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.headerButtons{
    display: flex;
    justify-content: flex-end;
    /* background-color: gray; */
    flex-grow: 4;
    gap: 40px;
    align-items: center;
}

.logoFilter{
    /* background-color: black; */
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
